doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    script(src='https://cdn.jsdelivr.net/npm/hls.js@latest')
    script(src='https://chat.banned.video/socket.io/socket.io.js')
    script(src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-linkify/2.1.9/linkify.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-linkify/2.1.9/linkify-element.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.0.0/fetch.min.js")
  body.mdc-typography
    block content
    div.footer.mdc-typography--caption
      a(href="https://github.com/rusteeshackleferd/infowars-stream", target="_blank") Open Source
